body{
  margin-top: 50px;
}
.nav-divider{
  height: 10px;
  background-color: #428bca;
}

.affix {
  top: 50px;
  width:100%;
}

.navbar-form {
   padding-left: 0;
}

.navbar-collapse{
   padding-left:0; 
}

.ui-widget {
    margin-top: 10px;
}

.tagLabel {
    color: #fff;
}


.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.ui-autocomplete-input {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 80px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    top: 1em;
    left: 36em;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica;
    padding: 0.5em;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}


#pdCanvas {
    position: relative;
}