<!doctype html>
<!-- view/partials/footer.ejs -->
   </div>
</div>
<footer>
  <p class='text-center text-muted'><a href='https://github.com/adkelley/PureDataGUI'>Source Code</a> 2015 Alex Kelley</p>
</footer>
</body>
</html>
