<!doctype html>
<!-- view/partials/footer.ejs -->

    </div>
  </div>

<footer>
  <p class='text-center text-muted'>2015 - <strong>Alex Kelley</strong> - Source code on <a href='https://github.com/adkelley/PureDataGUI'>Github</a></p>
</footer>
</body>
</html>
