<!doctype html>
<!-- views/partials/header.ejs -->
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pure Data GUI</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if (user === null) { %>
          <li><a href='/about'>About</a></li>
          <li id="nav-demo"><a href='/demo'>Demo</a></li>
          <li><a href='/register' >Register</a></li>
          <li><a href="/login">Log In</a></li>
          <% } else { %>
          <li><a href='/about'>About</a></li>
          <li id="nav-demo"><a href='/demo'>Demo</a></li>
          <li><a href='/profile'>Profile</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div class='container-fluid'>
    <div class='row'>
      <% for (var key in flash) { %>
      <% if (flash[key].length) { %>
      <div class='col-xs-offset-1 col-xs-10'>
        <div class='alert alert-<%= key %> alert-dismissible' role='alert'>
          <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>                             <strong><%= (key === 'danger' ? 'error' :key).toUpperCase() %>:</strong> <%= flash[key] %>
        </div>
      </div>
      <% } %>
      <% } %>
