<!-- views/partials/head.ejs -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pure Data GUI</title>
    <!— JQuery/JQueryUI local —>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/jquery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/jquery-ui/themes/smoothness/jquery-ui.css">
    <!- Underscore -->
    <script src="/static/underscore/underscore.js"></script>
    <!— Bootstrap local —>
    <script src="/static/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css">
    <!-- WebPd -->
    <script src="/static/webpd/dist/webpd-latest.js"></script>
    <!-- CSS -->
    <link rel="stylesheet"  href="/static/stylesheets/styles.css">
    <!-- Model/View Javascripts -->
    <script src="/static/javascripts/model.js"></script>
    <script src="/static/javascripts/ctrl_panel.js"></script>
    <script src="/static/javascripts/view.js"></script>
  </head>
</head>
