<!-- views/partials/head.ejs -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pure Data GUI</title>
    <!— JQuery/JQueryUI local —>
    <script src="jquery/dist/jquery.js"></script>
    <script src="jquery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="jquery-ui/themes/smoothness/jquery-ui.css">
    <!- Underscore -->
    <script src="underscore/underscore.js"></script>
    <!— Bootstrap local —>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <!-- WebPd -->
    <script src="webpd/dist/webpd-latest.js"></script>
    <!-- CSS -->
    <link rel="stylesheet"  href="stylesheets/styles.css">
    <!-- Model/View Javascripts -->
    <script src="javascripts/model.js"></script>
    <script src="javascripts/ctrl_panel.js"></script>
    <script src="javascripts/view.js"></script>
  </head>
</head>
