<!-- views/partials/ctrl_panel -->
<!doctype html>
<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container">
    <form class="navbar-form navbar-left">
      <!-- <div class="form-group"> -->
      <!--   <input type="text" class="form-control" placeholder="object"> -->
      <!-- </div> -->
      <textarea class="obj-field pp-obj0" id="obj0">obj1</textarea>
      <textarea class="obj-field pp-obj1" id="obj1">obj2</textarea>
      <textarea class="obj-field pp-obj2" id="obj2">obj3</textarea>
      <textarea class="obj-field pp-obj3" id="obj3">obj4</textarea>
      <textarea class="obj-field pp-obj4" id="obj4">obj5</textarea>
      <!-- <button type="submit" class="btn btn-default">Submit</button> -->
    </form>
    <div class="collapse navbar-collapse navbar-right">
      <button type="button" class="btn btn-default navbar-btn" id="pp-btn-stop">Stop</button>
      <button type="button" class="btn btn-default navbar-btn" id="pp-btn-play">Play</button>
      <div class="btn-group">
        <button type="button" id="pp-btn-patch" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
          Patch <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li id="pp-ddm-patch-new"><a href="#">New</a></li>
          <li id="pp-ddm-patch-open"><a href="#">Open</a><li>
          <li id="pp-ddm-patch-import"><a href="patch/import">Import</a></li>
          <li class="divider"></li>
          <li id="pp-ddm-patch-new"><a href="#">Edit</a></li>
          <li id="pp-ddm-patch-delete"><a href="#">Delete</a></li>
          <li class="divider"></li>
          <li id="pp-ddm-patch-save"><a href="#">Save</a></li>
        </ul>
      </div>
        <button type="button" id="pp-btn-demo" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
          Demo <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li id="pp-ddm-demo-d1"><a href="#">Demo 1</a></li>
          <li id="pp-ddm-demo-d2"><a href="#">Demo 2</a><li>
          <li id="pp-ddm-demo-d3"><a href="#">Demo 3</a></li>
          <li id="pp-ddm-demo-d4"><a href="#">Demo 4</a></li>
          <li id="pp-ddm-demo-d5"><a href="#">Demo 5</a></li>
          <li class="divider"></li>
          <li id="pp-ddm-demo-save"><a href="#">Save</a></li>
        </ul>
    </div>
  </div>
</nav>
  <div class='container-fluid'>
    <div class='row'>
      <% for (var key in flash) { %>
      <% if (flash[key].length) { %>
      <div class='col-xs-offset-1 col-xs-10'>
        <div class='alert alert-<%= key %> alert-dismissible' role='alert'>
          <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
          <strong><%= (key === 'danger' ? 'error' :key).toUpperCase() %>:</strong> <%= flash[key] %>
        </div>
      </div>
    </div>
    <% } %>
    <% } %>

