<!doctype html>

<% include partials/head %>
<div class="nav-divider"></div>
<% include partials/header %>
<% include partials/patch_panel %>
<div id="pdCanvas"></div> <!-- patches drawn here -->

<div class="col-xs-offset-3 col-xs-6 no-patch">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-10 col-sm-10">
          <h3>Pure Data GUI</h3>
          <p>Pure Data GUI is a very early stage project that will ultimately allow users to create, save, edit, play, download and upload Pure Data patches directly in the browser.</p>
          <p>Register and log in to upload and save Pure Data patches that you've created in the desktop.<p>
         <% if (user == null) { %>
           <a href="/register">Sign Up&nbsp&nbsp&nbsp&nbsp</a>
           <a href="/login">Log In</a>
         <% } %>
      </div>
    </div>
  </div>
</div>      
<% include partials/footer %>
