<!doctype html>
<!doctype html>
<% include partials/head %>
<div class="nav-divider"></div>
<% include partials/header %>
<% include partials/ctrl_panel %>
<svg></svg> <!-- patches drawn here -->
<% include partials/footer %>
