<!doctype html>

<% include partials/head %>
<% include partials/header %>
  
<div class="col-xs-offset-3 col-xs-6 no-patch">
  <div class="panel panel-default">
    <div class="panel-body">
      <% if (user == null) { %>
        <a href="/register">Sign Up</a>
        <br/>
        <a href="/login">Log In</a>
        <% } else { %>
          <p>Welcome Back!</p>
          <%  } %>
    </div>
  </div>
</div>

<% include partials/footer %>
