<!doctype html>

<% include partials/head %>
<div class="nav-divider"></div>
<% include partials/header %>
<% include partials/patch_panel %>
<div id="pdCanvas"></div> <!-- patches drawn here -->

<div class="col-xs-offset-3 col-xs-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <form id="uploadForm" method="POST" action="/import" enctype="multipart/form-data" class="form-horizontal">
         <div class="form-group">
           <label class="col-xs-3 control-label">Patch File</label>
           <div class="col-xs-6">
           <input type="file" name="userPatch" />
         </div>
         <div class="form-group">
           <div class="col-xs-6 col-xs-offset-6">
           <button type="submit" value="Upload Patch" class="btn btn-primary">Upload</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
           </div>
        </div>
      </form>  
   </div>
 </div>
</div>

<% include partials/footer %>



