<!doctype html>
<% include partials/head %>
<div class="nav-divider"></div>
<% include partials/header %>
<% include partials/ctrl_panel %>
<% include partials/canvas %>
<% include partials/footer %>
