<!doctype html>

<% include partials/head %>
<% include partials/header %>

<div class="col-xs-offset-3 col-xs-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-8 col-sm-6">
          <p>Profile</p>
          <p>Email: <%= user %></p>
        </div>
        <div class="col-xs-4 col-sm-6">
          <img src="https://www.gravatar.com/avatar/<%= userHash %>" class="img-circle pull-right">
        </div>
      </div>
    </div>
  </div>
</div>      
<% include partials/footer %>
