<!doctype html>

<% include partials/head %>
<div class="nav-divider"></div>
<% include partials/header %>
<% include partials/patch_panel %>
<div id="pdCanvas"></div> <!-- patches drawn here -->

<div class="col-xs-offset-3 col-xs-6 no-patch">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-8 col-sm-6">
          <h3>Profile</h3>
          <p>User Name: <%= userName %></p>
          <p>Email: <%= userEmail %></p>
        </div>
        <div class="col-xs-4 col-sm-6">
          <img src="https://www.gravatar.com/avatar/<%= userHash %>" class="img-circle pull-right">
        </div>
      </div>
    </div>
  </div>
</div>      
<% include partials/footer %>
